<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="host" value="smtp.gmail.com"/>
      <add key="port" value="587"/>
      <add key="time_minimum" value="40000"/>
      <add key="time_maximum" value="60000"/>
    </appSettings>
</configuration>